html,
body {
  max-width: 1200px;
  margin: 0 40px;;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.container {
  width: 100%;
  background-color: #fff;
  
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.3);
}

.main-navigation-list {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 1200px;
  min-height: 58px;
  justify-content: space-between;
  align-items: flex-start;
  
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.main-navigation-list a {
  display: inline-block;
  padding: 20px 70px;
  padding-bottom: 15px;
  
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.main-navigation-list a img {
  position: relative;
  margin-top: -20px;
  width: 138px;
  height: 70px;
  
  z-index: 0;
}

.promo img {
  width: 1200px;
  height: 570px;
  margin-top: -35px;
  margin-bottom: 60px;
  
  object-fit: cover;
  
  z-index: 1;
}

.main-title {
  margin: 0;
  padding: 0;
  
  font-size: 21px;
  line-height: 26px;
  
  text-align: center;
}

.reasons h2 {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  
  color: #333;
  text-align: center;
}

.reason-list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.reason-wrapper-1,
.reason-wrapper-2,
.reason-wrapper-3,
.reason-wrapper-4 {
  display: flex;
  flex-direction: row;
}

.reason-wrapper-1 .reason-item-town,
.reason-wrapper-3 .reason-item-bridge,
.reason-other {
  display: flex;
  flex-direction: column;
  min-width: 310px;
  min-height: 170px;
  justify-content: space-around;
  align-items: center;
  
  margin: 0;
  padding: 45px;
  
  color: #fff;
  background-color: #81b3d2;
}


.reason-wrapper-1 .reason-item-town b,
.reason-wrapper-3 .reason-item-bridge b,
.reason-wrapper-4 .reason-other b,
.booking p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
}

.reason-wrapper-1 .reason-item-town strong,
.reason-wrapper-3 .reason-item-bridge strong,
.reason-wrapper-4 .reason-other strong {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.reason-other {
  color: #333;
  background-color: #eee;
}

.reason-wrapper-2 {
  justify-content: space-between;
  align-items: center;
  
  margin: 0;
  padding: 0;
  list-style: none;
}

.reason-wrapper-1 {
  order: 1;
}

.recommendation {
  order: 2;
}

.reason-wrapper-3 {
  order: 3;
}

.reason-wrapper-4 {
  order: 4;
}

.recommendation-housing, 
.recommendation-food,
.recommendation-souvenirs,
.booking{
  position: relative;
  
  display: flex;
  flex-direction: column;
  min-width: 310px;
  min-height: 155px;
  justify-content: space-around;
  align-items: center;
  
  margin: 0;
  padding: 45px;
  padding-top: 60px;
}

.recommendation-housing b::before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  margin-top: -90px;
  margin-left: -45px;
  
  background-image: url("../images/logos/house.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.recommendation-food::before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  margin-top: -90px;
  margin-left: -45px;
  
  background-image: url("../images/logos/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.recommendation-souvenirs::before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  margin-top: -90px;
  margin-left: -45px;
  
  background-image: url("../images/logos/souvenir.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.booking {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 215px;
  margin: 0;
  padding: 0;
  padding-top: 45px;
}

.booking strong {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.booking button {
  min-width: 570px;
  min-height: 85px;
  border: none;
  
  color: #fff;
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  
  text-transform: uppercase;
}

.map {
  width: 100%;
  min-height: 480px;
  
  object-fit: cover;
  
  color: #000;
  background-color: #fff;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  flex-basis: 1200px;
  min-height: 120px;
  
  color: #000;
  background-color: #fff;
}

.footer-social ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social p {
  margin: 0;
}
